*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $txtclr;
}
body{
    background-color: $bgc;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px 0;
    > div{
        max-width: 100%;
        padding: 0px 20px;
    }
}
button:hover{
    cursor: pointer;
}
section{
    margin-bottom: 150px;
}